.page_header {
  text-align: center;
  color:var(--gray);
  font-weight: bolder;
  font-size: 1.3rem;
  text-transform: uppercase;
  background-color: var(--white);
  padding-top: 8px;
  padding-bottom: 8px;
}

body {
  background-color: var(--light-gray);
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

.card_header {
  border: none;
  border-top: 20px solid var(--blue);
  padding: 0 60px 0 60px;
  margin-bottom: 20px;
}

.card {
  border: none;
  padding: 30px 60px 30px 60px;
  margin-bottom: 20px;
}

.labels {
  margin-bottom: 5px;
  color: var(--gray);
  font-weight: 600;
}

.required {
  color: var(--red);
}

.form {
  padding-bottom: 20px;
}

.buttons {
  background-color: var(--red);
  color: var(--white);
  border: none;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 10px;
}