.buttonSelected {
  background-color: var(--white);
  color: var(--gray);
  border: none;
  display: inline-block;
  border-bottom: 4px solid var(--pinkish-red);
  font-weight: 600;
  font-size: 0.95rem;
  padding: 8px 30px;
  margin-top: 20px;
  margin-bottom: 0;
  cursor: pointer;
}

.buttonUnselected {
  background-color: var(--white);
  color: var(--gray);
  border: none;
  display: inline-block;
  border-bottom: 4px solid var(--white);
  font-weight: 600;
  font-size: 0.95rem;
  padding: 8px 30px;
  margin-top: 20px;
  margin-bottom: 0;
  cursor: pointer;
}

.table {
  padding: 0;
  border-color: var(--white);
}

.tableContainer {
  overflow-y: scroll;
  /* margin-bottom: 10px; */
  max-height: 76vh;
  padding: 0;
  box-shadow: 2px 2px #e8e8e8;
  background-color: var(--light-gray);
}

.title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
  color: var(--gray);
}

.table tbody tr {
  background-color: var(--white) !important;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--gray);
}

.table tbody tr:hover td {
  background-color: var(--light-blue);
}

.table thead tr {
  font-weight: bold;
  font-size: 0.9rem;
  color: var(--gray);
  border-bottom: 2px solid var(--light-gray);
}

.table tbody td {
  padding: 16px 10px;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid var(--light-gray);
  border-top: 2px solid var(--light-gray);
}

.table thead th {
  padding: 14px 10px;
  padding-top: 30px;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: none;
  color: var(--white);
}

.table thead {
  background-color: var(--dark-blue);
  position: sticky;
  top: 0;
}

.link {
  color: #0645ad;
}

.ac {
  display: inline;
  text-security: disc;
  -webkit-text-security: disc;
  -moz-text-security: disc;
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--gray);
}

.ac:hover {
  display: inline;
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--gray);
  text-security: none;
  -webkit-text-security: none;
  -moz-text-security: none;
}
