.buttonSelected {
  background-color: var(--pinkish-red);
  color: var(--white);
  border: 1px solid var(--white);
  display: inline-block;
  border-radius: 50px;
  font-weight: 500;
  font-size: 1rem;
  padding: 10px;
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.buttonUnselected {
  background-color: var(--white);
  color: var(--pinkish-red);
  border: 1px solid var(--pinkish-red);
  display: inline-block;
  border-radius: 50px;
  font-weight: 500;
  font-size: 1rem;
  padding: 10px;
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.table {
  padding: 0;
  border: 1px solid var(--light-gray);
}

.tableContainer {
  overflow-y: scroll;
  margin-top: 20px;
  margin-bottom: 10px;
  max-height: 72vh;
  padding: 0;
  box-shadow: 2px 2px #e8e8e8;
}

.title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
  color: var(--gray);
}

.table tbody tr {
  background-color: var(--white) !important;
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--gray);
}

.table tbody tr:hover td {
  background-color: var(--light-blue);
}

.table thead tr {
  font-size: 0.85rem;
  font-weight: bolder;
  color: var(--gray);
}

.table tbody td {
  padding: 10px 10px;
  border-color: var(--light-gray);
}

.table thead th {
  padding: 10px 10px;
  border-color: var(--light-gray);
}

.table thead {
  background-color: #fafafa;
  position: sticky;
  top: 0;
}

.link {
  color: #0645ad;
}

.ac {
  display: inline;
  text-security: disc;
  -webkit-text-security: disc;
  -moz-text-security: disc;
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--gray);
}

.ac:hover {
  display: inline;
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--gray);
  text-security: none;
  -webkit-text-security: none;
  -moz-text-security: none;
}
