.page_header {
  text-align: center;
  color: var(--gray);
  font-weight: bolder;
  font-size: 1.3rem;
  text-transform: uppercase;
  background-color: var(--white);
  padding-top: 8px;
  padding-bottom: 8px;
}

body {
  background-color: var(--light-gray);
}

.container {
  width: 80%;
  margin: 30px auto 140px auto;
}

.links {
  background-color: var(--pinkish-red);
  color: var(--white);
  border: none;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 20px 10px;
  border-radius: 0.25rem;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.links:hover {
  color: var(--white);
  text-decoration: none;
}

.row {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 80%;
}
