.page_header {
  text-align: center;
  color: var(--gray);
  font-weight: bolder;
  font-size: 1.3rem;
  text-transform: uppercase;
  background-color: var(--white);
  padding-top: 8px;
  padding-bottom: 8px;
}

body {
  background-color: var(--light-gray);
}

.container {
  width: 80%;
  margin: 30px auto 140px auto;
}

.card_header {
  border: none;
  border-top: 20px solid var(--blue);
  padding: 30px 60px 30px 60px;
  margin-bottom: 20px;
}

.card {
  border: none;
  padding: 30px 60px 30px 60px;
  margin-bottom: 20px;
}

.labels {
  margin-bottom: 5px;
  color: var(--gray);
  font-weight: 600;
}

.required {
  color: var(--pinkish-red);
}

.form {
  padding-bottom: 20px;
}

.buttons {
  background-color: var(--pinkish-red);
  color: var(--white);
  border: none;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 10px;
}

.alertFail {
  border: 2px solid var(--red);
  border-radius: 5px;
  background-color: rgb(255 0 0 / 20%);
  padding-top: 5px;
  padding-bottom: 5px;
  min-width: 400px;
  width: 400px;
}

.alertFail > p {
  color: var(--red);
  padding: 0;
  font-size: 1rem;
  margin: 0;
  font-weight: 400;
  display: inline-block;
}

.alertFail > p > span {
  font-weight: bolder;
}
