.card {
  border: none;
  padding: 30px 60px 30px 60px;
  margin-bottom: 20px;
}

.cardSelected {
  border: none;
  padding: 30px 60px 30px 60px;
  margin-bottom: 20px;
  background-color: rgb(38 143 255 / 20%);
}

.cardSelected:hover,
.card:hover {
  box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 50%);
}

.questions {
  margin-bottom: 5px;
  color: var(--black);
  font-weight: bolder;
  font-size: 1rem;
}

.answers {
  margin-bottom: 5px;
  color: var(--black);
  font-size: 1rem;
  font-weight: 600;
  padding: 1px 0;
}

.correct_answers {
  margin-bottom: 6px;
  color: var(--black);
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--green);
  display: inline;
  margin-right: 10px;
  padding: 2px 0;
}
