.page_header {
  text-align: center;
  color: var(--white);
  font-weight: bolder;
  font-size: 1.3rem;
  text-transform: uppercase;
  background-color: var(--dark-blue);
  padding-top: 8px;
  padding-bottom: 8px;
}

.buttons {
  background-color: var(--pinkish-red);
  color: var(--white);
  border: none;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 10px;
  margin-top: 20px;
}

.congratulations_image {
  max-width: 500px;
}

.custom_container {
  margin-top: 100px;
  max-width: 600px;
  text-align: center;
}

h2 {
  font-weight: bold;
  color: var(--dark-blue);
  font-style: normal;
}

.score {
  font-size: 50px;
  /* font-style: italic; */
  color: var(--pinkish-red);
}

.question_count {
  font-size: 40px;
  /* font-style: italic; */
  color: var(--pinkish-red);
}

h3 {
  color: var(--dark-blue);
}
