.card {
  border: none;
  padding: 30px 60px 30px 60px;
  margin-bottom: 20px;
}

.questions {
  margin-bottom: 5px;
  color: var(--black);
  font-weight: bolder;
  font-size: 1rem;
}

.answers {
  margin-bottom: 5px;
  color: var(--black);
  font-size: 1rem;
  font-weight: 600;
  padding: 1px 0;
}

.buttons {
  background-color: var(--pinkish-red);
  color: var(--white);
  border: none;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 10px;
}
