.page_header {
  text-align: center;
  color: var(--white);
  font-weight: bolder;
  font-size: 1.3rem;
  text-transform: uppercase;
  background-color: var(--dark-blue);
  padding-top: 8px;
  padding-bottom: 8px;
}

.title {
  padding-top: 0.375rem;
  padding-right: 0.75rem;
  padding-bottom: 0.375rem;
  padding-left: 0;
  border: none;
  font-size: 1.8rem;
  margin-bottom: 0;
}

body {
  background-color: var(--light-gray);
}

.container {
  width: 80%;
  margin: 30px auto 140px auto;
}

.card_header {
  border: none;
  border-top: 20px solid var(--blue);
  padding: 0 60px 0 60px;
  margin-bottom: 20px;
}

.form {
  padding-bottom: 20px;
}

.buttons {
  background-color: var(--pinkish-red);
  color: var(--white);
  border: none;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 10px;
}
